/* OrdersIndexPage */

.page {
  margin: .5rem;
  padding: 4px;
  min-height: 95vh;
  /* outline: 2px solid red; */
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1; /* pushes pagination to bottom */
  display: flex;
  flex-direction: column;
}
.orderIndexButton {
  display: flex;
  justify-content: center;
  margin: 1rem;
  gap: 0.5rem;
}
.pagination {
  display: flex;
  justify-content: center;
  margin: 1rem;
  gap: 0.5rem;
}
.bottomButton {
  padding: 0rem 0rem;
  /* font-size: 1rem; */
  min-width: 120px;
  border: 1px solid var(--border);
  /* background-color: var(--background); */
  /* color: var(--text); */
  border-radius: 4px;
  cursor: pointer;
}
